
@import 'mixins';

$fontBase: 'Arial';

$fontSecondary: 'Exo-2';
$fontBasePath: '../font/Exo_2/';




/* Exo-2
*****************************************************************************************************/

/* Bold
----------------------------------------*/
@include Fonts($fontSecondary, $fontBasePath + 'Exo2-Bold.ttf', 700);
@include Fonts($fontSecondary, $fontBasePath + 'Exo2-BoldItalic.ttf', 700, italic);


/*********** Exo-2 ***********/



