
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: $colorAlert;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}








/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-100 {
	height: 100%;
}

.ov-h {
	overflow: hidden !important;
}

.bg-cover {
	background: center no-repeat;
	background-size: cover;
}

.bg-contain {
	background: center no-repeat;
	background-size: contain;
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	@include Position(f, 0, 0, 0, 0);
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}
/*========== Internet Explorer ==========*/








/* Base Classes
=================================================================*/
@at-root .btn {
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: $fontSecondary;
	font-size: 15px;
	box-shadow: none !important;


	&.base {
		background: $colorBase;
		color: #fff;
	}


	&.warn {
		background: $colorAlert;
		color: #fff;
	}


	&.disabled {
		opacity: .4;
	}
}



@at-root .title {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: $fontSecondary;
	font-size: 30px;

	&.white {
		color: #fff;
	}
}




.form-control {
	color: inherit;

	&:focus {
		box-shadow: none;
		border-color: $colorAlert;
	}
}
/*========== Base Classes ==========*/






















/* Header
*****************************************************************************************************/
@at-root .header {

	@at-root .hdr_top_bx {
		padding: 30px 0;

		@at-root .hdr_top {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@at-root .hdr_logo {
				display: flex;

				a {

					img {

					}
				}
			}


			@at-root .hdr_contact {
				display: flex;
				align-items: center;

				@at-root .hdr_contact_it {
					display: flex;
					align-items: center;

					& + & {
						margin-left: 30px;
					}


					@at-root .hdr_contact_img {
						margin-right: 10px;

						img {
							max-width: 34px;
							max-height: 34px;
						}
					}


					@at-root .hdr_contact_txt {

						.ttl {

						}


						.cnt {
							text-transform: uppercase;
							font-family: $fontSecondary;
						}
					}
				}
			}
		}
	}


	@at-root .nav_sec {
		background: $colorBase;

		@at-root .nav_bx {

			.navbar-toggler {
				padding: 10px;
				border-color: #fff;

				img {
					width: 21px;
				}
			}


			.navbar-nav {
				width: 100%;
				position: relative;

				&::before,
				&::after {
					content: '';
					display: block;
					height: 10px;
					width: 2px;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					background: rgba(#fff, .2);
				}


				&::before {
					left: 0;
				}


				&::after {
					right: 0;
				}


				> li {
					flex: 1 1 auto;

					& + li {
						position: relative;

						&::before {
							content: '';
							display: block;
							height: 10px;
							width: 2px;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							background: rgba(#fff, .2);
						}
					}


					> a {
						padding: 12px 0 !important;
						position: relative;
						z-index: 2;
						text-align: center;
						text-transform: uppercase;
						font-family: $fontSecondary;
						font-size: 15px;
						color: #fff;
					}


					&.active > a,
					> a:hover {
						background: $colorAlert;
					}
				}
			}
		}
	}
}
/*********** Header ***********/















/* Main
*****************************************************************************************************/
@at-root .main {

}




@at-root .divider {
	height: 1px;
	position: relative;
	background: #ebeaf0;

	img {
		@include Position(a, 0, 0, 0, 0, true);
	}
}





/* Banner
=================================================================*/
@at-root .banner_bx {
	position: relative;

	@at-root .banner {

		@at-root .banner_it {
			position: relative;

			@at-root .banner_img {
				width: 100%;
				height: 550px;
				object-fit: cover;
			}


			@at-root .banner_txt {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				@at-root .banner_info {

					@at-root .banner_info_hd {
						text-transform: uppercase;
						line-height: 1.2;
						font-family: $fontSecondary;
						font-size: 30px;

						p {

							&.warn {
								color: $colorBase;
							}
						}
					}


					@at-root .banner_info_bd {
						max-width: 270px;
						margin: 30px 0;
					}


					@at-root .banner_info_ft {

						@at-root .banner_info {

						}
					}
				}


				@at-root .banner_stat {

					@at-root .banner_stat_it {
						display: flex;
						align-items: center;

						& + & {
							margin-top: 20px;
						}


						@at-root .banner_stat_img {
							flex: 0 0 auto;
							height: 70px;
							width: 70px;
							padding: 15px;
							margin-right: 20px;
							border-radius: 5px;
							background: $colorBase;

							img {
								max-height: 100%;
							}
						}


						@at-root .banner_stat_txt {

							.val {
								margin-bottom: 10px;
								line-height: 1;
								font-family: $fontSecondary;
								font-size: 36px;
								color: $colorBase;
							}


							.txt {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}


	@at-root .banner_nav {
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		z-index: 10;

		@at-root .banner_btn {
			width: 30px;
			height: 30px;
			padding: 8px;
			border-radius: 5px;
			cursor: pointer;
			box-shadow: 0 0 6px #fff;
			background: $colorAlert;

			& + & {
				margin-left: 10px;
			}


			img {
				max-height: 100%;
			}


			&.prev {

			}


			&.next {

			}
		}
	}
}
/*========== Banner ==========*/








/* Content Menu
=================================================================*/
@at-root .cnt_menu_sec {
	padding: 10px 0;

	@at-root .cnt_menu {

		@at-root .cnt_menu_it {
			display: flex;
			align-items: center;
			padding: 30px 15px;

			@at-root .cnt_menu_img {
				flex: 0 0 auto;
				max-width: 90px;
				margin-right: 15px;

				img {

				}
			}


			@at-root .cnt_menu_txt {

				@at-root .cnt_menu_txt_ttl {
					margin-bottom: 10px;
					text-transform: uppercase;
					font-family: $fontSecondary;
					font-size: 20px;
					color: $colorBase;

					a {
						display: inline;
					}
				}


				@at-root .cnt_menu_txt_cnt {

				}
			}
		}
	}
}
/*========== Content Menu ==========*/









/* Advantage
=================================================================*/
@at-root .advantage_sec {
	padding: 40px 0;
	background: $colorAlert;
	color: #fff;

	@at-root .advantage {

		@at-root .advantage_ttl {

		}


		@at-root .advantage_cnt {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			margin: -10px;

			@at-root .advantage_it {
				flex: 0 0 auto;
				width: 180px;
				padding: 20px 10px;

				@at-root .advantage_img {
					width: 70px;
					height: 70px;
					margin: auto;
					margin-bottom: 20px;
					padding: 19px;
					border-radius: 5px;
					background: $colorBase;

					img {
						max-height: 100%;
					}
				}


				@at-root .advantage_txt {
					text-align: center;
				}
			}
		}
	}
}
/*========== Advantage ==========*/









/* Blog
=================================================================*/
@at-root .blog_sec {
	padding: 50px 0;

	@at-root .blog {

		@at-root .blog_hd {

		}


		@at-root .blog_bd {
			margin-bottom: 30px;

			.row {
				justify-content: center;
			}


			@at-root .blog_it {
				display: flex;
				align-items: center;
				padding: 15px;

				@at-root .blog_img {
					width: 50%;

					img {
						display: block;
						width: 100%;
						height: 180px;
						object-fit: cover;
						border-radius: 5px;
					}
				}


				@at-root .blog_txt {
					width: 50%;
					padding-left: 20px;


					@at-root .blog_date {
						margin-bottom: 10px;
					}


					@at-root .blog_name {
						margin-bottom: 10px;
						line-height: 1.2;
						font-family: $fontSecondary;
						font-size: 20px;
					}


					@at-root .blog_desc {
						margin-bottom: 10px;
					}


					@at-root .blog_more {
						color: $colorBase;

						a {
							display: inline;
						}
					}
				}
			}
		}


		@at-root .blog_ft {

			@at-root .blog_all {
				text-align: center;

				a {

				}
			}
		}
	}
}
/*========== Blog ==========*/









/* Comment
=================================================================*/
@at-root .comment_sec {
	padding: 50px 0;
	background:#f9f9fa;

	@at-root .comment {

		@at-root .comment_ttl {

		}


		@at-root .comment_cnt {

			@at-root .comment_bnr {
				width: auto;
				margin: 0 -10px;

				.owl-controls {
					margin-top: 40px;
				}
				.owl-controls .owl-page span {
					opacity: 1;
					background: $colorBase;
				}
				.owl-controls .owl-page.active span,
				.owl-controls.clickable .owl-page:hover span {
					background: $colorAlert;
				}


				@at-root .comment_it {
					padding: 0 10px;

					@at-root .comment_opn {
						padding: 20px;
						padding-bottom: 30px;
						margin-bottom: 15px;
						border-radius: 5px;
						background: url("../img/comment_opinion.png") center / 100% 100% no-repeat;

						p {

						}
					}


					@at-root .comment_man {
						display: flex;
						align-items: center;

						@at-root .comment_man_img {
							flex: 0 0 auto;
							margin-right: 20px;

							img {
								display: block;
								width: 70px;
								height: 70px;
								border-radius: 5px;
							}
						}


						@at-root .comment_man_txt {

							@at-root .comment_man_name {
								font-family: $fontSecondary;
								font-size: 20px;
							}


							@at-root .comment_man_info {

							}
						}
					}
				}
			}
		}
	}
}
/*========== Comment ==========*/









/* Client
=================================================================*/
@at-root .client_sec {
	padding: 50px 0;

	@at-root .client {

		@at-root .client_ttl {

		}


		@at-root .client_cnt {
			position: relative;

			@at-root .client_bnr {

				.owl-item + .owl-item {
					border-left: 1px solid #ebeaf0;
				}


				@at-root .client_img {
					height: 50px;

					img {
						max-height: 100%;
					}
				}
			}


			@at-root .client_nav {
				display: flex;
				justify-content: center;
				margin-top: 30px;

				@at-root .client_btn {
					width: 30px;
					height: 30px;
					padding: 8px;
					border-radius: 5px;
					cursor: pointer;
					box-shadow: 0 0 6px #fff;
					background: $colorBase;

					& + & {
						margin-left: 10px;
					}


					img {
						max-height: 100%;
					}


					&.prev {

					}


					&.next {

					}
				}
			}
		}
	}
}
/*========== Client ==========*/









/* Contact
=================================================================*/
@at-root .contact_sec {
	padding: 50px 0;
	background: #f9f9fa;

	@at-root .contact {

		@at-root .contact_ttl {

		}


		@at-root .contact_cnt {
			text-align: center;

			.form-control {
				text-align: inherit;
				font-weight: bold;
				color: inherit;

				&:focus {
					box-shadow: none;
					border-color: $colorAlert;
				}
			}


			@at-root .contact_send {
				margin-top: 25px;
			}
		}
	}
}
/*========== Contact ==========*/


/*********** Main ***********/















/* Footer
*****************************************************************************************************/
@at-root .footer {
	padding: 40px 0;
	background: $colorAlert;
	color: #fff;


	@at-root .ftr_col {
		padding: 15px;
	}


	@at-root .ftr_info {

		@at-root .ftr_info_logo {
			display: flex;
			margin-bottom: 30px;

			a {

				img {

				}
			}
		}


		@at-root .ftr_info_scl {
			display: flex;
			margin-bottom: 35px;

			> li {
				margin-right: 15px;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 46px;
					height: 46px;
					border-radius: 5px;
					background: $colorBase;

					img {

					}
				}
			}
		}


		@at-root .ftr_info_copy {

			p {

			}
		}
	}


	@at-root .ftr_menu {

		@at-root .ftr_menu_ls {

			> li {

				& + li {
					margin-top: 10px;
				}


				a {
					text-transform: uppercase;
					font-family: $fontSecondary;
					font-size: 15px;
				}
			}
		}
	}


	@at-root .ftr_ctt {

		@at-root .ftr_ctt_info {

			@at-root .ftr_ctt_it {

				& + & {
					margin-top: 15px;
				}


				.ttl {
					margin-bottom: 7px;
					text-transform: uppercase;
					font-family: $fontSecondary;
					font-size: 15px;
				}


				.cnt {

					p {

					}
				}
			}
		}


		@at-root .ftr_ctt_made {
			margin-top: 28px;

			a {
				display: inline;
				margin-left: 5px;

				img {

				}
			}
		}
	}


	@at-root .ftr_app {

		@at-root .ftr_app_it {
			display: flex;
			justify-content: flex-end;

			& + & {
				margin-top: 15px;
			}


			a {
				width: 170px;
				height: 46px;
				padding: 5px 10px;
				border-radius: 5px;
				background: $colorBase;

				img {
					max-height: 100%;
				}
			}
		}
	}
}
/*********** Footer ***********/













/* About Company
*****************************************************************************************************/
@at-root .inr_title_bx {
	padding: 60px 0;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		width: 70%;
		position: absolute;
		left: calc(50% + 6px);
		top: 0;
		bottom: 0;
		transform-origin: left bottom;
		transform: skewX(-45deg);
		background: $colorAlert;
	}


	@at-root .inr_title {
		position: relative;
		z-index: 2;
		text-align: left;
		text-shadow: 0 0 7px #fff;
	}
}



@at-root .abt_company_sec {

	@at-root .abt_company {

		@at-root .abt_company_main {

			@at-root .abt_company_desc {

				@at-root .abt_company_desc_ttl {
					margin-bottom: 20px;
					font-family: $fontSecondary;
					font-size: 20px;
				}


				@at-root .abt_company_desc_cnt {

					> p {
						margin-bottom: 20px;
					}


					> img {
						width: 100%;
						margin-bottom: 20px;
						border-radius: 6px;
					}
				}
			}


			@at-root .abt_company_stat {

				@at-root .abt_company_stat_it {
					display: flex;
					align-items: center;
					padding: 15px;

					@at-root .abt_company_stat_img {
						flex: 0 0 auto;
						width: 70px;
						height: 70px;
						margin-right: 20px;
						padding: 19px;
						border-radius: 5px;
						background: $colorBase;

						img {
							max-height: 100%;
						}
					}


					@at-root .abt_company_stat_txt {

						.val {
							margin-bottom: 7px;
							line-height: 1;
							font-family: $fontSecondary;
							font-size: 30px;
						}


						.txt {

						}
					}
				}
			}
		}


		@at-root .abt_company_asd {

			@at-root .abt_company_adv {

				@at-root .abt_company_adv_ttl {
					margin-bottom: 30px;
					text-transform: uppercase;
					font-family: $fontSecondary;
					font-size: 20px;
				}


				@at-root .abt_company_adv_cnt {

					@at-root .abt_company_adv_it {
						display: flex;
						align-items: center;

						& + & {
							margin-top: 30px;
						}


						@at-root .abt_company_adv_img {
							flex: 0 0 auto;
							width: 70px;
							height: 70px;
							margin-right: 30px;
							padding: 19px;
							border-radius: 5px;
							background: $colorBase;

							img {
								max-height: 100%;
							}
						}


						@at-root .abt_company_adv_txt {

						}
					}
				}
			}
		}
	}
}
/*********** About Company ***********/












/* Service
*****************************************************************************************************/
@at-root .svc_main {

	@at-root .svc_tab {
		display: flex;
		margin-top: -45px;
		position: relative;
		top: -48px;

		> li {

			a {
				padding: 7px 15px;
				border: 1px solid $colorAlert;
				border-bottom: 0;
				border-radius: 5px 5px 0 0;
				text-transform: uppercase;
				font-family: $fontSecondary;
				font-size: 20px;
				background: $colorAlert;
				color: #fff;

				&.active,
				&:hover {
					border-color: #ebeaf0;
					background: #fff;
					color: inherit;
				}
			}
		}
	}


	@at-root .svc_tab_cnt {


		@at-root .svc_form {
			counter-reset: Part;

			@at-root .svc_form_it {
				margin-bottom: 40px;
				padding-bottom: 25px;
				border-bottom: 1px solid #ebeaf0;

				@at-root .svc_form_it_ttl {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					font-family: $fontSecondary;

					.num {
						display: block;
						width: 36px;
						height: 36px;
						line-height: 36px;
						margin-right: 20px;
						border-radius: 4px;
						text-align: center;
						font-size: 15px;
						background: $colorBase;
						color: #fff;

						&::before {
							counter-increment: Part;
							content: counter(Part);
						}
					}


					.txt {
						font-size: 20px;
					}
				}


				@at-root .svc_form_it_cnt {

					@at-root .svc_form_data {

						.form-control {
							padding: 9px 14px;
						}


						@at-root .svc_form_data_gr {
							display: flex;
							align-items: flex-end;

							@at-root .svc_form_data_inp {
								flex: 1 1 auto;
								margin-right: 10px;
							}


							@at-root .svc_form_data_btn {

								.btn {
									padding: 10px;
								}
							}
						}
					}


					@at-root .svc_form_place_bx {

						@at-root .svc_form_place {

							& + & {
								margin-top: 20px;
								padding-top: 20px;
								border-top: 1px solid #ebeaf0;
							}


							@at-root .form-check-input {
								margin-top: 3px;
							}


							@at-root .svc_form_place_time {
								display: none;

								&.active {
									display: block;
								}
							}
						}
					}

					@at-root .svc_form_place_add {
						margin: 15px 0;
					}


					@at-root .svc_form_wht {

						@at-root .svc_form_wht_mass {
							display: block;
							position: relative;

							.txt {
								width: 48px;
								height: 48px;
								line-height: 48px;
								border-radius: 5px;
								position: absolute;
								top: 0;
								right: 0;
								text-align: center;
								font-family: $fontSecondary;
								font-size: 20px;
								transition: all .15s;
								background: #ced4da;
								color: #fff;
							}


							input:focus ~ .txt {
								background: $colorAlert;
							}
						}


						@at-root .svc_form_wht_up {
							margin: 40px 0;

							@at-root .svc_form_wht_up_inp {

							}


							@at-root .svc_form_wht_up_inp_i {
								display: inline-block;
								vertical-align: middle;
								width: 20px;
								height: auto;
								margin-right: 5px;
								fill: #fff;
							}


							@at-root .svc_form_wht_up_rmv {

								img {
									vertical-align: middle;
									height: 16px;
								}

								span {
									vertical-align: middle;
								}
							}


							@at-root .svc_form_wht_up_rmv_it {
								padding: 7px 9px;
								border-color: transparent;
								@include ButtonDark(#6c757d);

								img {
									display: block;
									width: 14px;
								}
							}
						}
					}
				}
			}


			@at-root .svc_form_send {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@at-root .svc_form_send_info {

					.warn {
						color: $colorBase;
					}
				}
			}
		}


		@at-root .svc_trf {

			@at-root .svc_trf_main {

				@at-root .svc_trf_info {
					margin-bottom: 30px;

					@at-root .svc_trf_info_it {

						& + & {
							margin-top: 30px;
							padding-top: 30px;
							border-top: 1px solid #ebeaf0;
						}


						@at-root .svc_trf_info_ttl {
							margin-bottom: 20px;
							font-family: $fontSecondary;
							font-size: 20px;
						}


						@at-root .svc_trf_info_cnt {

						}
					}
				}


				@at-root .svc_trf_table_bx {
					margin-bottom: 30px;
					overflow: auto;

					@at-root .svc_trf_table {
						width: 100%;
						min-width: 500px;

						tr {

							td {
								padding: 12px 15px;
							}
						}


						thead {

							tr {

								td {
									text-transform: uppercase;
									font-weight: bold;
									background: #ebeaf0;


									&:first-of-type {
										border-radius: 5px 0 0 5px;
									}


									&:last-of-type {
										border-radius: 0 5px 5px 0;
									}
								}
							}
						}


						tbody {

							tr {

								td {

								}


								&:nth-of-type(even) td {
									background: #f9f9fa;


									&:first-of-type {
										border-radius: 5px 0 0 5px;
									}


									&:last-of-type {
										border-radius: 0 5px 5px 0;
									}
								}
							}
						}
					}
				}


				@at-root .svc_trf_down {

					.btn {

					}
				}
			}


			@at-root .svc_trf_asd {

			}
		}
	}
}
/*********** Service ***********/












/* Blog All
*****************************************************************************************************/
@at-root .blog_main {

	@at-root .blog_all_ls {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid #ebeaf0;

		@at-root .blog_all_ls_it {

			& + & {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #ebeaf0;
			}


			@at-root .blog_all_it {
				padding: 0;

				.blog_img {
					width: 40%;
				}


				.blog_txt {
					width: 60%;
				}
			}
		}
	}


	@at-root .blog_all_pgnt {

		@at-root .blog_all_pgnt_ls {
			display: flex;

			> li {

				& + li {
					margin-left: 10px;
				}


				a {
					height: 36px;
					width: 36px;
					line-height: 36px;
					border: 1px solid #ebeaf0;
					border-radius: 5px;
					text-align: center;
					font-size: 15px;
				}


				&.active a {
					background: $colorAlert;
					color: #fff;
				}


				&.ctrl {

					a {
						border-color: #d8d6e1;
						background: #d8d6e1;
						padding: 9px;

						img {
							display: block;
							max-height: 100%;
							margin: auto;
						}
					}


					&.active a {
						border-color: $colorBase;
						background: $colorBase;
					}
				}
			}
		}
	}
}



@at-root .blog_asd {

	@at-root .blog_asd_it {

		& + & {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid #ebeaf0;
		}


		@at-root .blog_asd_ttl {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-family: $fontSecondary;
			font-size: 20px;
		}


		@at-root .blog_asd_sub {

			@at-root .blog_asd_sub_cnt {

				@at-root .required {

					label:not(.not) {

						&::after {
							content: ' *';
							color: $colorBase;
						}
					}
				}
			}
		}


		@at-root .blog_asd_cat {

			@at-root .blog_asd_cat_cnt {

				@at-root .blog_asd_cat_ls {

					> li {

						& + li {
							margin-top: 12px;
						}


						a {
							display: inline;
						}


						&.active a,
						a:hover {
							color: $colorBase;
						}
					}
				}
			}
		}


		@at-root .blog_asd_memb {

			img {
				width: 100%;
			}
		}
	}
}
/*********** Blog All ***********/











/* Blog One
*****************************************************************************************************/
@at-root .blog_one_info {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebeaf0;

	@at-root .blog_one_info_ls {
		display: flex;
		flex-wrap: wrap;

		> li {
			margin-right: 40px;
			margin-bottom: 10px;

			.txt {

			}


			.val {
				color: $colorBase;
			}
		}
	}
}


@at-root .blog_one_desc {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ebeaf0;

	@at-root .blog_one_desc_ttl {
		margin-bottom: 30px;
		font-family: $fontSecondary;
		font-size: 20px;
	}


	@at-root .blog_one_desc_cnt {

		> img {
			width: 100%;
			border-radius: 5px;
			margin-bottom: 20px;
		}


		> p {
			margin-bottom: 20px;
		}
	}
}


@at-root .blog_one_rcmd {

	.blog_asd_ttl {
		margin-bottom: 30px;
	}
}
/*********** Blog One ***********/











/* E-shop
*****************************************************************************************************/
@at-root .eshop_app_desc {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebeaf0;

	@at-root .eshop_part_ls {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 30px;
		padding-bottom: 20px;

		> li {
			width: 25%;
			min-width: 180px;
			margin-bottom: 30px;
			padding: 0 15px;
			text-align: center;

			img {

			}
		}
	}
}


@at-root .eshop_app {

	@at-root .shop_app_ttl {

	}


	@at-root .eshop_app_cnt {

	}
}
/*********** E-shop ***********/









/* Contact
*****************************************************************************************************/
@at-root .contact_ttl {
	margin-bottom: 30px;
	font-family: $fontSecondary;
	font-size: 20px;
}


@at-root .contact_info_bx {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ebeaf0;

	@at-root .contact_info {

		@at-root .contact_info_ttl {

		}


		@at-root .contact_info_cnt {

			@at-root .contact_info_ls {
				display: flex;
				justify-content: space-between;

				> li {

					& + li {
						margin-left: 15px;
					}


					.txt {
						font-weight: bold;
					}


					.val {

						&.warn {
							color: $colorBase;
						}
					}
				}
			}
		}
	}
}


@at-root .contact_back {

	@at-root .contact_back_ttl {

	}


	@at-root .contact_back_cnt {

	}
}


@at-root .contact_map {

	img {
		width: 100%;
	}
}







@at-root .contact_br_sel_bx {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -42px;

	@at-root .contact_br_sel {
		display: inline-block;
		position: relative;
		margin-bottom: 0;

		.inp {
			width: 200px;
			padding-right: 58px;
			position: relative;
			z-index: 3;
			font-size: 14px;
			background: transparent;
		}


		.arr {
			width: 48px;
			height: 48px;
			border-radius: 5px;
			position: absolute;
			top: 0;
			right: 0;
			transition: all .15s;
			background: #ced4da;

			svg {
				display: block;
				width: 15px;
				height: auto;
				fill: #fff;
			}
		}


		.inp:focus ~ .arr {
			background: $colorAlert;
		}
	}
}


@at-root .contact_br_info {

	.contact_info_ttl {
		padding-right: 210px;
	}


	@at-root .contact_br_info_tab {
		margin-bottom: 30px;

		a {
			width: 36px;
			height: 36px;
			line-height: 36px;
			border-radius: 4px;
			text-align: center;
			font-family: $fontSecondary;
			font-size: 15px;
			background: $colorBase;
			color: #fff;

			& + a {
				margin-left: 10px;
			}


			&.active {
				background: $colorAlert;
			}
		}
	}


	@at-root .contact_br_info_tab_cnt {

	}
}
/*********** Contact ***********/























/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



