@import 'variables';
@import 'mixins';



/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {


	/*========== 480px (Min Width) ==========*/
}





/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {


	/*========== 768px (Min Width) ==========*/
}





/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {


	/*========== 992px (Min Width) ==========*/
}





/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {


	/*========== 1200px (Min Width) ==========*/
}





/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {


	/*========== 1590px (Min Width) ==========*/
}















/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {


	/*========== 1589px (Max Width) ==========*/
}





/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {


	/*========== 1199px (Max Width) ==========*/
}





/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {
	.hdr_top {
		flex-direction: column;
	}
	.hdr_logo {
		margin-bottom: 30px;
	}
	.hdr_contact {
		flex-direction: column;
	}
	.hdr_contact_it+.hdr_contact_it {
		margin-left: 0;
		margin-top: 30px;
	}


	.banner_stat {
		display: none;
	}


	.nav_bx .navbar-expand-lg {
		padding: 15px 0;
	}
	.nav_bx .navbar-nav {
		padding-top: 15px;

		&::before,
		&::after {
			display: none;
		}
	}
	.nav_bx .navbar-nav>li+li::before {
		display: none;
	}



	.ftr_app_it {
		justify-content: flex-start;
	}

	/*========== 991px (Max Width) ==========*/
}





/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {
	.svc_tab {
		display: block;
		margin-top: 0;
		margin-bottom: 50px;
		position: static;

		li + li {
			margin-top: 5px;
		}
	}
	.svc_tab > li a {
		border-bottom: 1px solid #ebeaf0;
		border-radius: 5px;
		text-align: center;
	}


	.contact_info_ls {
		flex-direction: column;
	}
	.contact_info_ls > li + li {
		margin-left: 0;
		margin-top: 15px;
	}



	.contact_br_sel_bx {
		margin-bottom: 20px;
	}
	.contact_br_info .contact_info_ttl {
		padding-right: 0;
	}


	.svc_form_send {
		flex-direction: column;
	}
	.svc_form_send_info {
		margin-top: 20px;
	}

	/*========== 767px (Max Width) ==========*/
}





/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
	.blog_it {
		flex-direction: column;
		max-width: 400px;
		margin: auto;
	}
	.blog_img {
		width: 100%;
		margin-bottom: 20px;
	}
	.blog_txt {
		width: 100%;
		padding-left: 0;
	}


	.blog_all_it .blog_img,
	.blog_all_it .blog_txt {
		width: 100%;
	}

	/*========== 479px (Max Width) ==========*/
}



